name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: mbstring, intl
      - name: Install Composer deps
        run: composer install --no-progress --no-suggest --prefer-dist
      - name: Run migrations
        run: vendor/bin/cake migrations migrate --no-interaction
      - name: Run tests
        run: vendor/bin/phpunit --configuration phpunit.xml.dist
